.filterResultsOptions {
  display: none;
  width: 26.5rem;
  height: 20rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.showOptions {
  display: block;
}

@media (min-width: 768px) {
  .filterResultsOptions {
    /* display: flex;
    align-items: center; */
    position: relative;
    opacity: 1;
    transform: none;
    width: auto;
    height: 7rem;
    margin: 0;
    background-color: #eaecec;
  }
}
