.topBarButton {
  border: none;
  background-color: inherit;
  color: rgb(255, 255, 255);
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}
