.dealers {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* medium */
@media (min-width: 768px) {
  .dealers {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 5rem;
  }
}

/* large */
@media (min-width: 992px) {
  .dealers {
    width: 99.2rem;
    margin: 5rem auto 0 auto;
  }
}
