.navDrawer {
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 1;
  top:0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x:hidden;
  padding-top: 2rem;
  transition: 0.5s;
}

.open {
  width: 25rem;
  overflow-x:hidden;
}

.navMenuItemSmall {
  width: 25rem;
  height: 4rem;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
}

.navMenuItemSmall:hover {
  background-color: #eaecec;
}

.navClose {
  width: 25rem;
  height: 3.3rem;
  padding: 0 2rem;
  font-size: 2rem;
  color: #9fa6a7;
  list-style: none;
  cursor: pointer;
  border-bottom: .1rem solid #d7e0e1;
}

.navClose span {
  font-size: 2rem;
  color: #9fa6a7;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.navClose a {
  width: 16rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(25, 82, 213);
}
